@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

body, html {
    margin: 0px;
    padding: 0px;
}

/* NAVBAR-TOP START */
.navbar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100vw;

    position: fixed;
    top: 0;
    background-color: white;
}

.navbar-top .container {
    display: flex;
    border-bottom: solid;
    border-color: #57647c21;
    height: 6rem;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
}

.navbar-top .logo {
    display: flex;
    align-items: center;
}

.navbar-top .logo .mattin-lassei {
    font-size: 30px;
    font-weight: bold;
    color: #252525;
    font-family: 'Poppins', sans-serif;
    margin-left: 1.5rem;
}

.navbar-top .menu button {
font-size: 17px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #252525;
border: none;
background-color: transparent;
cursor: pointer;
margin-left: 3rem;
}
.navbar-top .menu .links:hover {
    color: #FF6803;
}
.navbar-top .menu .links:active {
    color: #FF6803;
}

.navbar-top .menu > .search-icon { /* Förstoringsglaset på navbar */
    font-size: 1.8rem;
    color: #5D5D5D;
    margin-right: -0.5rem;
    margin-left: 1.5rem;
}
.navbar-top .menu .search-icon:hover {
    color: #FF6803;
}

.navbar-top .menu .try-it-free {
    border-style: solid;
    border-width: 1px;
    border-color: #FF6803;
    border-radius: 10px;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.navbar-top .menu .try-it-free:hover {
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(243,60,109,1) 36%, rgba(255,104,3,1) 62%, rgba(255,166,46,1) 100%);
    border: solid;
    border-width: 1px;
}
/* NAVBAR-TOP END */

/* HOME START */
#home {
    width: 100vw;
    height: 55vh;
}

#home .shapes #orange {
    position: absolute;
    top: -1rem;
    left: 65rem;
    z-index: -3;
}

#home .shapes #circle {
    position: absolute;
    top: 13rem;
    right: 1rem;
    z-index: -2;
}

#home .shapes #laptop {
    position: absolute;
    right: 1rem;
    top: 13.5rem;
    z-index: -1;
}

#home .shapes #background { /* Gråaktiga bakgrunden på showcase */
    position: absolute;
    top: 3rem;
    left: 7rem;
    z-index: -4;
}

#home .home-items {
    margin-top: 16rem;
    margin-left: 15rem;
    width: 30vw;
    height: 40vh;
}

#home .home-items h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #252525;
    line-height: 68px;
}

#home .home-items p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
}

#home .home-items button {
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(243,60,109,1) 36%, rgba(255,104,3,1) 62%, rgba(255,166,46,1) 100%);
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    width: 250px;
    height: 60px;
    margin-top: 1rem;
}
#home .home-items button:hover {
    filter: brightness(85%);
}
/* HOME END */

/* FEATURES START */
#feautures {
    margin-top: 18rem;
    height: 65vh;
    width: 100vw;
}

#feautures .container {
    display: flex;
    margin-left: 15rem;
}

#feautures .feautures-items h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #252525;
    line-height: 60px;
}

#feautures .feautures-items p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
}

#feautures .feautures-items button {
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(243,60,109,1) 36%, rgba(255,104,3,1) 62%, rgba(255,166,46,1) 100%);
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    width: 140px;
    height: 50px;
    margin-top: 1rem;
}
#feautures .feautures-items button:hover {
    filter: brightness(85%);
}

#feautures .feautures-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 150px;
    row-gap: 100px;
    margin-left: 21rem;
}

#feautures .feautures-grid .feautures-grid-box h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #252525;
}

#feautures .feautures-grid .feautures-grid-box p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
}
/* FEATURES END */

/* PAGES START */
#pages {
    margin-top: 10rem;
}

#pages .container {
    display: flex;
}

#pages .gray-background {
    margin-left: 5rem;
    margin-top: 9rem;
}

#pages .pages-items {
    margin-left: 22rem;
}

#pages .pages-items h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 60px;
    color: #252525;
}

#pages .pages-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 80px;
}

#pages .pages-grid .pages-grid-number h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #F23779;
    margin-top: 1.5rem;
}

#pages .pages-grid .pages-grid-box h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #252525;
}

#pages .pages-grid .pages-grid-box p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #57647C;
}
/* PAGES END */

/* CONTACT START */
#contact {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-bottom: 9rem;
}

#contact .container {
    margin-top: -10rem;
}

#contact .container img {
    position: relative;
    z-index: -1;
    top: 40rem;
    left: 6rem;
}

#contact .container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #252525;
}

#contact .container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #57647C;
}

#contact .contact-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#contact-flex .contact-flex-box {
    line-height: 1rem;
}

#contact .contact-flex h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #F23779;
}

#contact .contact-flex p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #57647C;
}

#contact .contact-us-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 630px;
    height: 139px;
    box-shadow: 0 1px 10px #707070;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 10rem;
}

#contact .contact-us-flex-box {
    line-height: 1rem;
}

#contact .contact-us-flex-box p {
    text-align: left;
}

#contact .contact-us-flex h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: #252525;
}

#contact .contact-us-flex button {
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(243,60,109,1) 36%, rgba(255,104,3,1) 62%, rgba(255,166,46,1) 100%);
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    width: 140px;
    height: 50px;
}
#contact .contact-us-flex button:hover {
    filter: brightness(85%);
}

#contact .contact-us-flex p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #57647C;
}
/* CONTACT END */

/* BLOG START */
#blog {
    width: 100vw;
    height: 100vh;
}

#blog .blog-text {
    text-align: center;
}

#blog .blog-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #252525;
    line-height: 60px;
}

#blog .blog-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
    margin-bottom: 5rem;
}

#blog .blog-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    justify-content: center;
}

#blog .blog-grid .blog-box {
    width: 370px;
    height: 565;
    box-shadow: 0 1px 10px #707070;
}

#blog .blog-grid .blog-box #blog-date {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #FF6803;
    padding-left: 2rem;
}

#blog .blog-grid .blog-box h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #252525;
    line-height: 30px;
    padding-left: 2rem;
}

#blog .blog-grid .blog-box p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #57647C;
    line-height: 30px;
    padding-left: 2rem;
}

#blog .blog-grid .blog-box button {
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(243,60,109,1) 36%, rgba(255,104,3,1) 62%, rgba(255,166,46,1) 100%);
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    width: 120px;
    height: 45px;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
#blog .blog-grid .blog-box button:hover {
    filter: brightness(85%);
}